* {
    margin: 0;
    padding: 0;
    /* background-color:#11 */
}
#x{
    background-color: aqua;
}
#window {
    /* height: 100vh; */
    width: 100vw;
    aspect-ratio: 3/4.2;
    /* background-color: aquamarine; */
    font-size: 100%;
    

}

#mainbox {

    height: 80%;
    min-height: 30vw;
    min-width: 10vh;
    max-height:80vh;
    aspect-ratio: 3/4.2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    top: 5vh;
    border-radius: 3%;
    box-shadow: .5rem .5rem .8rem rgba(49, 101, 89, 0.823);

}

#innerMainBox {
    background-color: rgba(90, 90, 90, 0.21);
    background-color: rgba(0, 0, 0, 0.249);
    height: 100%;
    border-radius: 3%;
    aspect-ratio: 3/4.2;
    /* background-color: red; */



}

#musicName {
    text-transform: uppercase;
    font-family: cursive, 'Kanit', sans-serif;
    font-size: 3vh;
    color: rgb(242, 249, 244);
    cursor: default;
    /* padding-left: 3vw; */
    padding-top: 2vh;
}

#singer {
    text-transform: capitalize;

    font-size: 1.6vh;
    font-family: 'Kanit';
    color: rgba(171, 221, 224, 0.914);
    cursor: default;
    padding-left: 1vh;

}

#title {
    height: 20%;
    /* background-color: rgb(227, 172, 166); */
    box-shadow: .5rem .5rem .8rem rgba(128, 128, 128, 0.592);
    border-radius: 10%;
    margin: .2rem;
    /* filter: blur(2px); */
    /* opacity: .5; */
}

#innerTitle {
    height: 100%;
    border-radius: 10%;
    background-color: rgb(255, 239, 239);
    background-color: rgba(35, 52, 54, 0.6);
}

#image {
    height: 50%;
    aspect-ratio: 2/7;
    /* background-color:darkolivegreen; */
}

#circle {
margin-top: 1vh;
    aspect-ratio: 1/1;
    /* background-color:aqua; */
    border-radius: 50%;
    /* width: 15rem; */
    height: 50%;
    position: absolute;
    /* top:26.5%; */
    left: 15%;
    box-shadow: .1rem .3rem 1rem rgb(73, 73, 73);
}

@keyframes musicImg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#innerCircle {
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;


}

#innerCircleImg {
    filter: brightness(100%);
    /* filter: brightness(100%); */
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    background-size: cover;
    animation-name: musicImg;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* box-shadow: 0rem 0rem .8rem rgb(100, 51, 51); */
    animation-play-state: running;

}

#controler {
    height: 30%;
    /* background-color: gray; */
    /* word-spacing:2rem; */
    text-align: center;

}

#button {

    height: 30%;
    /* background-color:bisque ; */
    padding: 2vh;
    /* word-spacing: ; */
}

button {
    background-color: bisque;
    border: 0;
    border-radius: 50%;
    height: 6vh;
    aspect-ratio: 1/1;
    cursor: pointer;
    box-shadow: .5rem .3rem .7rem rgba(31, 47, 43, 0.823);
}

button:hover {
    background-color: rgb(114, 227, 237);
}

button:active {
    background-color: rgb(31, 83, 204);

}

#progressContainer {
    height: 34%;
    font-size: 1.6vh;
    /* margin: 1rem; */
    color: white;
    cursor: default;
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    /* background-color: aquamarine; */

}

#progressDiv {
    margin-top: 2vh;
    height: 10%;
    box-shadow: 0.2rem .23rem .2rem rgba(255, 255, 255, 0.338);
    border-radius: 4rem;
    transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0.87);
    /* appearance: none; */
    margin-bottom: 3vh;
}

#progress {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 40%; */
    height: 100%;
    background-color: rgba(50, 240, 250, 0.858);
    border-radius: 4rem;
    transition: width .3s linear;
    -moz-transition: width .3s linear;
    -o-transition: width .3s linear;
    -webkit-transition: width .3s linear;
    cursor: pointer;
    /* position: relative; */
}

#progressed_duration {
    display: flex;
    justify-content: space-between;
}